---
import HeaderLink from './HeaderLink.astro'
import { IoLogoGithub } from 'react-icons/io5/index.js'
import DiceIcon from './icons/dice'
import ThemeToggle from './ThemeToggleButton'
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
          <DiceIcon />
          Tokyo
        </h2>
      </a>
      <div class="items-center gap-6 flex">
        <HeaderLink href="/settings">Settings</HeaderLink>
        <HeaderLink
          href="https://github.com/AlessioPoggi99?tab=repositories"
          class="hidden sm:flex"
          target="_blank"><IoLogoGithub />Source</HeaderLink
        >
      </div>
      <div class="flex-1"></div>
      <ThemeToggle client:visible />
    </nav>
  </div>
</header>
